.MuiChartsLegend-series text {
  font-size: 2rem !important;
  fill: white !important;
}

/* .css-1jkcq86-MuiResponsiveChart-container {
  height: 200px !important;
} */
.css-cdlx0z {
  fill: white !important;
}
